<div class="jumbotron jumbotron-preview">
  <h1>{{lutador.title}}</h1>  
  <img src="{{lutador.imagePath}}" alt="{{lutador.title}}">
  <p>{{lutador.description}}</p>
  <p>
  	<a class="btn btn-success btn-lg pull-right" href="#" role="button">Comprar</a>
  	<a class="btn btn-success btn-lg pull-right" href="/" role="button">Voltar</a>  	
  	<a class="btn btn-success btn-lg pull-right" href="/product/edit/{{lutador.id}}" role="button">Editar</a>
  </p>
</div>